* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    background: url(resim5.jpg);
  }
  
  
  
  
  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  
  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #bdbdbdc7;
    padding: 20px;
  
   
  }
  
  
  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: rgb(184, 160, 160);
    padding: 20px;
    
    
  }

  .img1 {
    background-color: rgb(184, 160, 160);
    padding: 20px;
  }
  
  
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  
ul{
   
    margin:0;
    padding:0;
    list-style-type:none; 

}
li{
    position:relative;
}

li a{
    height:5px;
    display: block;
    text-decoration: none;
    background-color: #afa087;
    color:#FFF;
    font:500 15px 'Georgia';
    font-weight: bold;
    font-size: 20px;
    padding:50px;
    border:1px solid rgb(255, 252, 247);
    border-radius: 6px;
    box-shadow: 4px 6px 9px rgb(0, 0, 0);
   
    text-align: center;
    
    line-height: 10px;
}
li a:hover{
    background-color:#b46bdf6e;
    color:rgb(82, 6, 175);
}

h1{

text-align: center;
color:rgb(101, 53, 107);
font-family:Georgia, 'Times New Roman', Times, serif;
text-shadow: 3px 2px 1px rgb(216, 111, 111);

}

h2{

    text-align: center;
    color:rgb(4, 1, 8);
    font-size: 40px;
    font-family: Georgia;
    text-shadow: 3px 2px 1px #000;



}


.form{
    width: 400px;
    padding: 10px;
    border: 2px solid  rgb(44, 1, 53);
    margin: auto;
    margin-top: 150px;
    text-align: center;
    border-radius: 25px;
    background-color: #b6a8e79c;   
    font-weight: bold;
    box-shadow: 2px 8px 9px rgb(0, 0, 0);

}

.form input {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border-radius : 30px;
    font-style: italic; 
}





body{
    background-color: #ddc08bb0;;
      }
  
  #tablo{
     border-collapse: collapse;
     width: 100%;
     border:3px solid rgb(41, 33, 33);
     
      }
  #tablo td, #tablo th{
     border: 1px solid black;
     padding: 8px;
     font-weight:bold;
    
  
      }
  #tablo tr:nth-child(even){background-color: #e9ddcfd5;}
  
  #tablo tr:hover {
     background-color: #9273b6;
     color:#fff;
     font-weight:bold;
    
      }
  
  #tablo th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
    background-color: #a08562;
     color: white;
     font-weight:bold;
    
    
       }
  
  .button{
    width :130px;
    color :blue;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family:cursive;
      }
  
  .bttn{
    background-color:#370b3b;
    border: solid thin ;
    color: #f3f0ef;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 100px;
    font-weight: bold;
    font-size: 18px;
    
      }

      .yazi{

        color:rgb(4, 1, 8);
        font-size: 40px;
        font-family: Georgia;
        text-shadow: 2px 2px 1px #000;
        text-align: center;

      }

      .h_1{
        color:rgb(4, 1, 8);
        font-size: 40px;
        font-family:Georgia;
        text-shadow: 2px 2px 1px rgb(255, 255, 255);
        text-align: center;


      }
      .h_2{

        text-align: center;
        color:rgb(4, 1, 8);
        font-size: 40px;
        font-family: Georgia;
        text-shadow: 3px 2px 1px #000;
        text-decoration: none;

      }
      h3{

        text-align: center;
        color:rgb(4, 1, 8);
        font-size: 25px;
        font-family: Georgia;


      }
      h4{

        text-align: center;
        color:rgb(4, 1, 8);
        font-size: 15px;
        font-family: Georgia;

     
      }
      h5{
        text-align: center;
        color:rgb(4, 1, 8);
        font-size: 25px;
        font-family: Georgia;

      }
      h6{

        font-size:15px;
        font-family: Georgia;
       margin-left: 15%;



      }


     
     